*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial, sans-serif;
    place-items: center;
}

header
{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul, .usuario ul, .redessociais ul
{
    list-style-type: none;
    display: flex;
}

.menu ul li, .redessociais ul li
{
    margin-right: 20px;
}

.menu ul li a:hover
{
    background-color: #D7D7D7;
    box-shadow: 0 0 0 0.50rem #D7D7D7;
    border-radius: 5px;
}

.menu ul li a:active, .redessociais ul li a:active
{
    color: #767676;
}

.usuario ul li
{
    margin-right: 10px;
}

.menu ul li:last-child, .redessociais ul li:last-child, .usuario ul li:last-child
{
    margin-right: 0;
}

#login
{
    font-size: medium;
    padding: 10px 30px;
    background-color: #E3E3E3;
    border-color: #767676;
    border-radius: 7px;
}

#cadastrar, #enviar
{
    font-size: medium;
    color: white;
    padding: 10px 15px;
    background-color: #2C2C2C;
    border-color: #2C2C2C;
    border-radius: 7px;
}

.propulsores
{
    font-size: 350%;
    font-weight: bold;
    color: white;
    background-image: url('Imagens/Fundo section.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 15%;
}

.newsletter
{
    text-align: center;
    padding: 50px;
}

.newsletter h2
{
    margin-bottom: 40px;
}

input
{
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
}

.fundoalerta
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #2C2C2C;
    border-color: #2C2C2C;
    background-color: rgba(71, 57, 57, 0.349);
}
  
.alerta
{
    color: #2C2C2C;
    background-color: #E3E3E3;
    margin: 15% auto;
    text-align: center;
    padding: 30px;
    border: 1px solid #767676;
    border-radius: 7px;
    width: 50%;
}

.aviso
{
    font-size: 30px;
}

.aviso, .fechar
{
    font-weight: bold;
}

.fechar
{
    color: #2C2C2C;
    float: inline-end;
    font-size: 32px;
}

.fechar:hover, .fechar:focus
{
    color: #767676;
    text-decoration: none;
    cursor: pointer;
}

.equipe
{
    display: flex;
    padding-inline: 120px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #E3E3E3;    
}

.texto
{
    flex-wrap: wrap;
    flex-direction: column;
}

.texto p
{
    margin-top: 24px;
    line-height: 23px;
}

.noticias
{
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    padding: 40px;
    padding-inline: 110px;
    line-height: 22px;
}

.noticiastitulo
{
    margin-bottom: 40px;    
}

.noticias figure
{
    border: 1px solid transparent;
    border-color: #D9D9D9;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.noticias figure a
{
    text-decoration: underline;
    color: #2C5EBF;
}

.noticias figure a:hover
{
    text-decoration: underline;
    color: #767676;
}

.noticias figure a:active
{
    text-decoration: none;
    color: black;
}

.l1, .l2
{
    height: 100%;
    width: 100%;
    padding: 1%;
}

#l1
{
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.l2
{
    display: flex;
}

#l2
{
    display: flex;
    gap: 70px;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
}

.l1 h3
{
    margin-top: 14px;
    margin-bottom: 7px;
}

.l2 h3
{
    margin-bottom: 7px;
}

.l1 img, .l2 img
{
    height: 40%;
    width: 40%;
}

.l2 img
{
    margin-right: 20px;
}

footer
{
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;    
    border-top: 1px solid transparent;
    border-color: #00000080;
}

.logofooter
{
    margin-top: 8px;
    margin-bottom: 30px;
}

.redessociais ul li a:hover
{
    background-color: #D7D7D7;
    box-shadow: 0 0 0 1rem #D7D7D7;
    border-radius: 5px;
}

@media (max-width: 500px)
{
    header img, .equipe aside, .l1 img, .l2 img
    {
        display: none;
    }

    header
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        padding: 30px;    
    }
 
    .menu ul li
    {
        font-size: large;
    }

    .menu ul li, .usuario ul li
    {
        display: inline;
    }

    .propulsores
    {
        padding: 9%;
        font-size: 270%;
    }

    .newsletter
    {
        padding: 1px;
    }

    .newsletter h2
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .newsletter form
    {
        margin-bottom: 20px;
    }
    
    input
    {
        padding: 14px;
    }

    .equipe, .noticias
    {
        display: flex;
        padding: 30px;
    }

    .noticias figure
    {
        border: 0px;
    }

    .noticiastitulo, #l1, #l1 figure, #l2 figure 
    {
        margin-bottom: 20px;
    }

    #l1, #l2
    {
        display: flex;
        flex-direction: column;
        gap: 0;
        border: none;
    }

    #l2 figure:last-child
    {
        margin-bottom: 0;
    }
}

@media (min-width: 501px) and (max-width: 800px)
{
    header
    {
        display: inline;
    }

    header img
    {
        margin: 37px 0px 0px 40px;
        float: left;
    }

    .menu
    {
        margin-bottom: 20px;
        font-size: 90%;
    }

    .menu, .usuario
    {
        display: flex;
        flex-direction: row;
        justify-content: right;
        margin-right: 20px;
    }

    .propulsores
    {
        font-size: 310%;
    }

    .equipe
    {
        padding-inline: 30px;
        flex-direction: column;
    }

    .texto
    {
        margin-bottom: 30px;
    }

    aside
    {
        text-align: center;
    }

    aside img
    {
        width: 100%;
    }

    .l1 h3
    {
        margin-top: 0;
    }

    .l1, .l2
    {
        display: flex;
        flex-direction: row;
    }

    .l1 img
    {
        margin-right: 20px;
    }

    .l1 img, .l2 img
    {
        float: left;
    }

    .noticias figure
    {
        border: 0px;
    }

    .noticiastitulo, #l1, #l1 figure, #l2 figure 
    {
        margin-bottom: 20px;
    }

    #l1, #l2
    {
        display: flex;
        flex-direction: column;
        gap: 0;
        border: none;
    }

    #l2 figure:last-child
    {
        margin-bottom: 0;
    }
}