*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

a
{
    cursor: pointer;
}

header
{
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.menu ul, .usuario ul, .redessociais ul
{
    list-style-type: none;
    display: flex;
}

.menu ul li, .redessociais ul li
{
    margin-right: 20px;
}

.menu ul li a:hover
{
    background-color: #D7D7D7;
    box-shadow: 0 0 0 0.50rem #D7D7D7;
    border-radius: 5px;
}

.menu ul li a:active, .redessociais ul li a:active
{
    color: #767676;
}

.usuario ul li
{
    margin-right: 10px;
}

.menu ul li:last-child, .redessociais ul li:last-child, .usuario ul li:last-child
{
    margin-right: 0;
}

#login
{
    font-size: medium;
    padding: 10px 30px;
    background-color: #E3E3E3;
    border-color: #767676;
    border-radius: 7px;
}

#cadastrar, #enviar
{
    font-size: medium;
    color: white;
    padding: 10px 15px;
    background-color: #2C2C2C;
    border-color: #2C2C2C;
    border-radius: 7px;
}

.propulsores
{
    font-size: 350%;
    font-weight: bold;
    color: white;
    background-image: url('Imagens/Fundo section.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 15%;
}

.newsletter
{
    text-align: center;
    padding: 50px;
}

.newsletter h2
{
    margin-bottom: 40px;
}

input
{
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    outline: #2C2C2C;
}

.fundoalerta
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(168, 155, 155, 0.388);
}
  
.alerta
{
    color: #E3E3E3;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    margin: 15% auto;
}

.aviso
{
    font-size: 70px;
    font-weight: bold;
    -webkit-text-stroke: 1.5px #2C2C2C;
}

.equipe
{
    display: flex;
    padding-inline: 120px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #E3E3E3;    
}

.texto
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.texto p
{
    margin-top: 24px;
    line-height: 23px;
}

.equipe aside
{
    display: flex;
    width: auto;
}

.noticias
{
    padding: 40px 110px;
}

.noticiastitulo
{
    margin-bottom: 40px;    
}

.paineldenoticias
{
    position: relative;
    max-width: 96%;
    margin: 10px auto;
    overflow: visible;
}

.roldenoticias
{
    overflow-x: hidden;
    overflow-y: visible;
    width: 100%;
    display: flex;
    margin: 20px auto;
    justify-content: center;
    position: relative;
    scroll-behavior: smooth;
}

.girarnoticias
{
    display: flex;
    transition: transform 0.7s ease-in-out;
    margin: 0 auto;
    justify-content: center;
}

.girarnoticias figure a
{
    text-decoration: underline;
    color: #2C5EBF;
    margin-top: 5px;
    display: block;
}

.girarnoticias figure a:hover
{
    text-decoration: underline;
    color: #767676;
}

.girarnoticias figure a:active
{
    text-decoration: none;
    color: black;
}

.girarnoticias h3
{
    margin-bottom: 7px;
}
  
.noticia
{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    transition: filter 0.5s, opacity 0.5s;
    box-sizing: border-box;
}
  
.noticia img
{
    margin-right: 20px;
    width: 100px;
    height: auto;
    flex-shrink: 0;
}

.noticia figcaption
{
    text-align: left;
    line-height: 1.3em;
}

.noticia.ativa
{
    animation: fadeIn 2s;
}

@keyframes fadeIn
{
    from { opacity: 0.3 }
    to { opacity: 1 }
}

.noticia:not(.ativa)
{
    filter: blur(4px);
    opacity: 0.5;
}

.anterior, .proxima
{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #2C2C2C;
    border: none;
    cursor: pointer;
    z-index: 1000;
    font-size: 2rem;
    width: auto;
    padding-inline: 10px;
    border-radius: 3px;
}

.anterior:hover, .proxima:hover
{
    color: #767676;
}

.noticiasindicadores
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    margin: 0;
}

.noticiasindicadores .apontarnoticia
{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #2C2C2C;
    border-radius: 50%;
    cursor: pointer;
}

.noticiasindicadores .apontarnoticia.ativa
{
    background-color: #767676;
}

footer
{
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 1px solid #767676;
}

.logofooter
{
    margin-top: 8px;
    margin-bottom: 30px;
}

.redessociais ul li a:hover
{
    background-color: #D7D7D7;
    box-shadow: 0 0 0 1rem #D7D7D7;
    border-radius: 5px;
}

@media (max-width: 910px)
{
    header img, .equipe aside, .noticia img
    {
        display: none;
    }

    header
    {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        padding: 30px;    
    }
 
    .menu ul li
    {
        font-size: large;
    }

    .propulsores
    {
        padding: 9%;
        font-size: 270%;
    }

    .newsletter
    {
        padding: 1px;
        margin-bottom: 20px;
    }

    .newsletter h2
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .equipe, .noticias
    {
        padding: 30px;
    }

    .roldenoticias
    {
        max-width: 100%;
        height: auto;
    }

    .noticia
    {
        padding: 2%;
    }

    .anterior, .proxima
    {
        font-size: 1.5rem;
    }

    .anterior
    {
        left: -30px;
    }

    .proxima
    {
        right: -30px;
    }
}

@media (min-width: 911px) and (max-width: 1335px)
{
    .equipe, .noticias
    {
        padding: 40px;
    }

    .roldenoticias, .girarnoticias
    {
        width: 100% !important;
        height: auto !important;
        justify-content: center !important;
        display: flex !important;
    }

    .anterior
    {
        left: -35px !important;
    }

    .proxima
    {
        right: -35px !important;
    }
}

@media (min-width: 801px)
{
    .girarnoticias
    {
        justify-content: center !important;
    }

    .noticia.ativa
    {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .noticia
    {
        flex: 0 0 50% !important;
        max-width: 70% !important;
    }
}

@media (min-width: 1025px)
{
    .anterior
    {
        left: -45px;
    }

    .proxima
    {
        right: -45px;
    }
}