// Alert.sass - Estilos para os alertas visuais do sistema
// ------------------------------------------------------------------
// .fundoalerta:
//   - Fixa o alerta na tela (posição fixed) para cobrir toda a janela
//   - Possui um fundo semi-transparente para destacar o alerta
//   - Inicialmente, o alerta está oculto (visibility hidden e opacity 0),
//     com transição suave na opacidade
// 
// .fundoalerta.ativo:
//   - Quando a classe 'ativo' é adicionada, o alerta se torna visível (visibility visible e opacity 1)
// 
// .alerta:
//   - Posiciona o conteúdo do alerta de forma absoluta, centralizando-o horizontalmente
// 
// .aviso:
//   - Define o tamanho, o peso e o contorno do texto do alerta
// 
// Media Queries:
//   - Ajustam o tamanho do texto para telas menores e intermediárias

.fundoalerta
  position: fixed              // Fixa o alerta na tela
  z-index: 1000                // Garante que fique acima de outros elementos
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(168, 155, 155, 0.388) // Fundo semi-transparente
  
  // Oculta o alerta por padrão
  visibility: hidden
  opacity: 0
  transition: opacity 0.3s ease-in-out

  &.ativo
    // Exibe o alerta quando a classe 'ativo' é adicionada
    visibility: visible
    opacity: 1

.alerta
  color: #e3e3e3
  position: absolute
  top: 15%
  left: 50%
  transform: translateX(-50%)
  margin: 15% auto

.aviso
  font-size: 70px
  font-weight: bold
  -webkit-text-stroke: 1.5px #2c2c2c // Aplica um contorno ao texto
  text-align: center

  @media (max-width: 946px)
    font-size: 2.7rem // Reduz o tamanho do texto em telas pequenas

  @media (min-width: 947px) and (max-width: 1335px)
    font-size: 3.4rem // Ajusta o tamanho do texto para telas intermediárias