// Global.css - Reset básico e estilos globais
// ------------------------------------------------------------------
// *:
//   - Remove margens e paddings padrão
//   - Define o box-sizing, comportamento de rolagem suave e fonte padrão para todo o site
// 
// a:
//   - Define o cursor pointer para links
// 
// #login, #cadastrar, #enviar:
//   - Estilizam botões específicos com tamanhos, cores, paddings e bordas arredondadas

*
  margin: 0
  padding: 0
  box-sizing: border-box
  scroll-behavior: smooth
  font-family: Arial, sans-serif

a
  cursor: pointer

#login
  font-size: medium
  padding: 10px 30px
  background-color: #E3E3E3
  border-color: #767676
  border-radius: 7px

#cadastrar, #enviar
  font-size: medium
  color: white
  padding: 10px 15px
  background-color: #2C2C2C
  border-color: #2C2C2C
  border-radius: 7px