// ==========================
// Propulsores.sass - Estilos da Seção de Propulsores
// ==========================
// .propulsores:
//   - Define um tamanho de fonte muito grande (350%) com negrito para criar um forte impacto visual
//   - O texto é branco e a seção utiliza uma imagem de fundo que cobre todo o contêiner,
//     é centralizada, não se repete e ajusta seu tamanho para cobrir a área
//   - O conteúdo é centralizado e um padding generoso é aplicado para espaçamento interno
// 
// Media Query:
//   - Em telas menores (max-width: 946px), o padding e o tamanho da fonte são reduzidos para manter a responsividade

.propulsores
  font-size: 350% // Tamanho de fonte grande para impacto visual
  font-weight: bold // Negrito para destaque
  color: white // Texto em branco para contraste
  background-image: url('../assets/Imagens/Fundo section.png') // Imagem de fundo 
  background-position: center // Centraliza a imagem de fundo
  background-repeat: no-repeat // Não repete a imagem
  background-size: cover // Faz com que a imagem cubra toda a área
  text-align: center // Centraliza o texto
  padding: 15% // Espaçamento interno generoso

  @media (max-width: 946px)
    padding: 9% // Reduz o padding em telas pequenas
    font-size: 270% // Diminui o tamanho da fonte para manter o layout